@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --header-rgb: 225, 225, 225;
  --footer-rgb: 225, 225, 225;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 30, 30;
    --header-rgb: 50, 50, 50;
    --footer-rgb: 50, 50, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(var(--background-rgb), 1);
}

#header {
  background: rgba(var(--header-rgb));
}

#footer {
  background: rgba(var(--footer-rgb));
}
